.companies__block {
    background-color: #EBEBEB;
    margin-top: 90px;
}

.companies {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 90px;
}

.Hahnmehuhle{
    padding: 34px 29px 46px 29px;
    border: 1px solid #C4C4C4;
}

.canson {
    padding: 41px 34px 41px 35px;
    border: 1px solid #C4C4C4;
}

.Royal {
    display: flex;
    width: 255px;
    height: 135px;
    padding: 0px 15px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid #C4C4C4;
}

.Fabriano {
    display: flex;
    width: 255px;
    height: 135px;
    padding: 0px 23px;
    justify-content: center;
    align-items: center;
    border: 1px solid #C4C4C4;
}