.footer {
    background: #4C5866;
}

.footers {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 28px;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.footer__footer {
    color: #4C5866;
}

.footer__footer__text {
    text-align: center;
    color: #4C5866;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}