body {
    font-family: 'Roboto', sans-serif;
    color: #4C5866;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.header__nav {
    display: flex;
}

.nav {
    padding-top: 28px;
}

.nav ul {
    display: flex;
    gap: 60px;
    font-size: 20px;
    font-weight: 400;

    a{
        color: #4C5866;
    }
    :hover{
        color: $accent-color;
    }
}

.logo {
    margin-right: 302px;
}

.nav__line {
    margin-right: 60px;
}

.nav__footer {
    display: flex;
    flex-direction: row ;
    gap: 30px;
}

.nav__main {
    display: block;
}

.border {
    width: 1440px;
    height: 1px;
    flex-shrink: 0;
    background: #DDD;
    margin-top: 28px;
}



.infoblock{
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    button {
        color: #7875FE;
        font-size: 20px;
        font-weight: 400;
        display: flex;
        width: 255px;
        height: 70px;
        padding: 20px 50px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        border: 1px solid #7875FE;
    }
}

.info__header {
    color: #4C5866;
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 60px */
}

.info__text {
    color: #85859B;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.header__footer {
    display: flex;
    .paper {
        margin-top: 60px;
    }
}